.main {
    width: 98.7vw;
    position: relative;
}

.navbar {
    padding: 10px 0px 0px 0px !important;
}

.navbar_main {
    padding: 10px 3px 10px 5px !important;
    margin: -10px 0 0 0;
    height: 70px;
    align-items: flex-start !important;
    background-color: gray;
}

.navbar_list {
    flex-grow: initial !important;
    top: 5px;
    position: relative;
}

.navbar_login {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
    background-color: #29626D;
}

.navbar_helper {
    padding: 9px 20px;
    border: solid 1px white;
    margin-right: 22px !important;
    background-color: #29626D;
}

.navbar_contact {
    margin-right: 12px;
}

.navbar_prices {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
}

.navbar_book {
    margin-right: 18px !important;
    padding: 9px 20px;
    border: solid 1px white;
    background-color: #29626D;
}

body {
    font-family: Roboto-Regular;
}

.bannerimage {
    z-index: -10;
}

.headingfont {
    margin-top: 32px;
    font-family: Roboto-Medium;
    color: #4F4F4F;
    font-weight: 700;
}

.separator-line {
    width: 62px;
    height: 2px;
    background-color: #ccc;
    display: inline-block;
}

.arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    margin-top: 10px;
    border-top: 20px solid #1D7A8C;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
}

#arrow-setupservice {
    display: none;
}

#arrow-scheduleplan {
    display: none;
}

#arrow-detail {
    display: none;
}

#arrow-payment {
    display: none;
}

.services {
    background-color: #F3F3F3;
    height: 60px;
    color: #646464;
    margin-left: -5px;
    /* padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px; */
    padding: 5px 35px 0px 35px;
}

.services-selected {
    background-color: #1D7A8C;
    height: 60px;
    color: #fff;
    margin-left: -5px;
    /* padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px; */
    padding: 5px 35px 0px 35px;
}


/* .actived::after {
    content: '';
    position: absolute;
    top: 93%;
    left: 8%;
    background-color: #1D7A8C;
    height: 17px;
    width: 30px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
} */

.services-selected:disabled {
    background-color: #1D7A8C;
    height: 60px;
    margin-left: -5px;
    color: #fff;
    padding: 5px 35px 0px 35px;
}

#scheduleplantab {
    display: none;
}

#detailstab {
    display: none;
}

#detailstab .border {
    margin-left: 15px;
}

#paymenttab {
    display: none;
}

.text-center {
    text-align: center;
}

.extraservicesline {
    width: 75%;
    height: 1px;
    margin-top: 70px;
    background-color: gray;
    display: inline-block;
}

.service-box {
    justify-content: left !important;
}

.service-box.col-md-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.circle {
    height: 108px;
    width: 108px;
    margin-top: 40px;
    padding-top: 30px;
    /* background-color: #bbb; */
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    margin-bottom: 50px;
}

.circle img {
    margin-bottom: 10px;
}

.circle_contain {
    margin-top: -20px;
    text-align: center;
}

.circle_contain_blue {
    display: block;
    font-weight: 800;
    font-size: 20px;
    color: #1D7A8C;
}

.active {
    background-color: #1D7A8C;
    color: #fff;
    padding: 7px 25px;
}

.activehover {
    background-color: #fff;
    color: #1D7A8C;
    padding: 7px 25px;
    border: 2px solid #1D7A8C;
}

.activehover:hover {
    background-color: #1D7A8C;
    color: #fff;
    padding: 7px 25px;
    border: 2px solid #1D7A8C;
}

.paymentheading {
    background-color: #1D7A8C;
    height: 60px;
    margin-left: -13px;
    margin-right: -13px;
    padding-top: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
}

.text-blue {
    font-size: 17px;
    color: #1D7A8C !important;
}

.text-price-blue {
    font-size: 25px;
    color: #1D7A8C !important;
    font-weight: 800 !important;
}

.text-red {
    color: #ff0000;
}

.font-24 {
    font-size: 24px;
}

.font-18 {
    font-size: 18px;
    font-weight: 700;
}

.ul-li {
    padding-top: 20px;
    margin-left: -40px;
    list-style-type: none;
    text-align: left;
}

.ul-li li {
    text-align: left;
    padding-left: 2rem;
    background-image: url('../../../1 HomePage/assets/img/right-arrow.png');
    /* list-style-image: url("../../../1 HomePage/assets/img/right-arrow.png"); */
    background-position: 0px 3px;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.li-bottom-contain {
    color: gray;
    font-size: 15px;
    margin-left: 32px;
}

.basic-service {
    background-color: #F3F3F3;
    height: 45px;
    margin-left: -13px;
    margin-right: -13px;
    padding-top: 10px;
    padding-left: 15px;
    color: gray;
    font-size: 17px;
}

.text-color {
    color: #646464;
}

.card {
    box-shadow: 2px 2px gray;
}

.col-md-3 .card .card-body h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

.col-md-3 .card .card-body {
    /* background-color: #F6F6F6; */
    text-align: left;
}

.payment .text-right {
    float: right;
    text-align: right;
    color: #646464;
}

.text-right {
    /* float: right; */
    text-align: right;
    color: #646464;
}

.text-left {
    /* float: left; */
    text-align: left;
    color: #646464;
}

.font-14 {
    font-size: 14px;
}

.newslatter {
    padding-top: 60px;
    padding-bottom: 30px;
}

.newslatter .row .col-md-6 h3 {
    font-weight: 800;
    color: #353548;
}

.newslatter .col-md-6 {
    text-align: center;
}

.newslatter .col-md-6 input {
    padding-left: 1rem;
    padding-right: 1rem;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    left: 614px;
    width: 233px;
    height: 40px;
}

.newslatter .col-md-6 .btn {
    border-radius: 20px;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ff7b6d;
    color: #fff;
}

.newslatter-size {
    font-size: 2.5rem;
    text-align: center;
}

.footer_section {
    background-color: #111111;
}

.footer_main {
    height: 130px;
}

.footer_mid ul li {
    margin: 12px;
    list-style: none;
}

.footer_mid ul li a {
    color: #f1f1f1;
    font-size: 14px;
}

.footer_right i {
    margin: 0 10px;
    color: #ffffff;
}

.footer_end {
    background-color: #111111;
    height: fit-content;
}

.footer_end p {
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}

.footer_end p span a {
    color: #6eabef;
}

.footer_line {
    width: 75%;
    height: 1px;
    background-color: gray;
    display: inline-block;
    justify-content: center !important;
    text-align: center;
}

@media (max-width: 1197px) {
    .main {
        background-color: gray;
        width: 100vw;
    }
    .navbar_main {
        background-color: gray;
        display: flex;
    }
    #navbarText {
        background-color: gray;
        padding-bottom: 20px;
    }
    .navbar_book {
        background-color: transparent;
    }
    .navbar_book,
    .navbar_prices,
    .navbar_login,
    .navbar_helper {
        border: none;
    }
    .navbar .nav-link {
        padding: 0;
    }
    .navbar .nav-item {
        padding: 8px 5px;
        margin: 0;
    }
    .navbar_login,
    .navbar_helper {
        text-align: center;
        width: fit-content !important;
        align-items: center !important;
        margin-top: 7px !important;
    }
    .navbar_helper a,
    .navbar_login a {
        align-items: center !important;
        text-align: center;
        padding: 8px 12px 8px 20px !important;
    }
    .services {
        width: 300px;
        margin-top: 10px;
    }
    .services-selected {
        width: 300px;
        margin-top: 10px;
    }
    #setupservicetab .btn {
        margin-top: 20px;
    }
    .payment {
        margin-top: 50px;
    }
}

@media (max-width: 768px) and (min-width: 400px) {
    .footer_mid ul {
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main {
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
}
@media (max-width: 400px) {
    .footer_mid ul {
        display: grid !important;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main {
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
    .footer_end {
        flex-direction: column;
        padding: 0 10px;
        height: 150px;
    }
    .footer_btn {
        margin-top: 100px;
    }
}

@media (max-width: 425px) {
    .footer_end {
        flex-direction: column;
        padding: 0 10px;
    }
}