.main {
    width: 98.7vw;
    position: relative;
}

.navbar {
    padding: 10px 0px 0px 0px !important;
}

.navbar_main {
    padding: 10px 3px 10px 5px !important;
    margin: -10px 0 0 0;
    height: 70px;
    align-items: flex-start !important;
    background-color: gray;
}

.navbar_list {
    flex-grow: initial !important;
    top: 5px;
    position: relative;
}

.navbar_login {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
    background-color: #29626D;
}

.navbar_helper {
    padding: 9px 20px;
    border: solid 1px white;
    margin-right: 22px !important;
    background-color: #29626D;
}

.navbar_contact {
    margin-right: 12px;
}

.navbar_prices {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
}

.navbar_book {
    margin-right: 18px !important;
    padding: 9px 20px;
    border: solid 1px white;
    background-color: #29626D;
}

body {
    font-family: Roboto-Regular;
}

.text-center {
    text-align: center;
}

.headingfont {
    margin-top: 32px;
    font-family: Roboto-Medium;
    color: #4F4F4F;
    font-weight: 700;
}

.separator-line {
    width: 62px;
    height: 2px;
    background-color: #ccc;
    display: inline-block;
}

.marun {
    background-color: #1D7A8C;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.text-blue {
    color: #1D7A8C;
}

.style-none {
    text-decoration: none;
}