.main {
    width: 98.7vw;
    position: relative;
}

.navbar {
    padding: 0px 0px 0px 0px !important;
}

.navbar_main {
    padding: -15px 3px 10px 5px !important;
    margin: -10px 0 0 0;
    align-items: flex-start !important;
    height: 0px;
}

.navbar_list {
    flex-grow: initial !important;
    top: 15px;
    position: relative;
}

.navbar_login {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
    background-color: #29626D;
}

.navbar_helper {
    padding: 9px 20px;
    border: solid 1px white;
    margin-right: 22px !important;
    background-color: #29626D;
}

.navbar_contact {
    margin-right: 12px;
}

.navbar_prices {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
}

.navbar_book {
    margin-right: 18px !important;
    padding: 9px 20px;
    border: solid 1px white;
    background-color: #29626D;
}

.navbar .navbar-nav .county-flag {
    width: 18px;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    min-width: 0px;
    left: -15px;
    padding: 0px;
}

.dropdown-item {
    background-color: #fff;
}


/* home Section */

.home {
    height: 100vh;
    padding: 0px;
}

.home-service-provider .home-content {
    background: url('../../../1 HomePage/assets/img/group-19.png') no-repeat center;
    background-size: cover;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding-bottom: 25px;
}

.hover-blue :hover {
    background-color: #00607287;
    border: 1px solid white;
}

.home .home-content .down-arrow {
    border: 1px solid white;
    padding: 7px 9px;
    border-radius: 50%;
}

.login-form {
    width: 29%;
    margin-left: 36.1%;
    background: white;
    color: #4f4f4f;
}

.font-blue {
    color: #1D7A8C;
    font-size: 18px;
    font-weight: bold;
}

.font-white {
    color: white;
}

.login-form .form-control {
    padding: 0.2rem 0.5rem;
}

.downarrow {
    margin-top: 30px;
    text-align: center;
}

.about_back {
    z-index: -11;
}

.back_left {
    left: 0;
}

.back_right {
    right: 0;
}

.Roboto-Bold-30 {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #646464;
}

.home .home-content .button button {
    border: 1px solid white;
    background-color: #00607287;
    color: white;
    border-radius: 27px;
    padding: 12px 32px;
    margin-bottom: 60px;
}

.active {
    background-color: #29626D;
}

.active2 {
    padding: 10px 3px 10px 5px !important;
    margin: -10px 0 0 0;
    height: 70px;
    align-items: flex-start !important;
    background-color: gray;
}

#how-it-work {
    margin-top: 100px;
}

.how-it-work-image {
    width: 260px;
}

.newslatter {
    padding-top: 60px;
    padding-bottom: 30px;
}

.newslatter .row .col-md-6 h3 {
    font-weight: 800;
    color: #353548;
}

.newslatter .col-md-6 {
    text-align: center;
}

.newslatter .col-md-6 input {
    padding-left: 1rem;
    padding-right: 1rem;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    left: 614px;
    width: 233px;
    height: 40px;
}

.newslatter .col-md-6 .btn {
    border-radius: 20px;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ff7b6d;
    color: #fff;
}

.newslatter-size {
    font-size: 2.5rem;
    text-align: center;
}

.footer_section {
    background-color: #111111;
}

.footer_main {
    height: 130px;
}

.footer_mid ul li {
    margin: 12px;
    list-style: none;
}

.footer_mid ul li a {
    color: #f1f1f1;
    font-size: 14px;
}

.footer_right i {
    margin: 0 10px;
    color: #ffffff;
}

.footer_end {
    background-color: #111111;
    height: fit-content;
}

.footer_end p {
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}

.footer_end p span a {
    color: #6eabef;
}

.footer_line {
    width: 75%;
    height: 1px;
    background-color: gray;
    display: inline-block;
}

@media (max-width: 1197px) {
    .main {
        background-color: transparent;
        width: 100vw;
    }
    .navbar_main {
        background-color: transparent;
        display: flex;
        height: 70px;
    }
    #navbarText {
        background-color: gray;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .home-service-provider {
        margin-top: -60px;
    }
}

@media only screen and(max-width: 1197px) {
    .login-form {
        padding-top: -200px;
    }
}

@media only screen and (max-width: 700px) {
    .login-form {
        width: 90%;
        margin-left: 4.1%;
        background: white;
    }
}

@media (max-width: 768px) {
    .footer_mid ul {
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main {
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
}

@media (max-width: 425px) {
    .footer_end {
        flex-direction: column;
        padding: 0 10px;
    }
}