.main {
    width: 98.7vw;
    position: relative;
}

.navbar {
    padding: 10px 0px 0px 0px !important;
}

.navbar_main {
    padding: 10px 3px 10px 5px !important;
    margin: -10px 0 0 0;
    height: 70px;
    align-items: flex-start !important;
    background-color: gray;
}

.navbar_list {
    flex-grow: initial !important;
    top: 5px;
    position: relative;
}

.navbar_login {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
    background-color: #29626D;
}

.navbar_helper {
    padding: 9px 20px;
    border: solid 1px white;
    margin-right: 22px !important;
    background-color: #29626D;
}

.navbar_contact {
    margin-right: 12px;
}

.navbar_prices {
    margin-right: 11px !important;
    border: solid 1px white;
    padding: 9px 20px;
}

.navbar_book {
    margin-right: 18px !important;
    padding: 9px 20px;
    border: solid 1px white;
    background-color: #29626D;
}

body {
    font-family: Roboto-Regular;
}

.faq-go {
    z-index: -10;
}

#Faqs {
    margin-top: 32px;
    font-family: Roboto-Medium;
    color: #4F4F4F;
}

.separator-line {
    width: 62px;
    height: 2px;
    background-color: #ccc;
    display: inline-block;
}

.contain {
    padding-top: 34px;
    text-align: center;
    letter-spacing: 0px;
    color: #646464;
    padding-bottom: 20px;
}

.table-content-1 {
    background-color: #1D7A8C;
    height: 40px;
    padding-top: 7px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.table-content-2 {
    height: 40px;
    padding-top: 7px;
    text-align: center;
    border-bottom: 4px solid #1D7A8C;
    background-color: lightgray;
    text-transform: uppercase;
}

.ul-li {
    padding-top: 20px;
    margin-left: -40px;
    list-style-type: none;
    text-align: left;
}

.ul-li li {
    text-align: left;
    padding-left: 2rem;
    background-image: url(../img/right-arrow.png);
    background-position: 0px 20px;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.li-bottom-contain {
    color: gray;
    font-size: 12px;
    margin-left: 32px;
}

.padded {
    padding-top: 15px;
}

.newslatter {
    padding-top: 30px;
    padding-bottom: 30px;
}

.newslatter .row .col-md-6 h3 {
    font-weight: 800;
    color: #353548;
}

.newslatter .col-md-6 {
    text-align: center;
}

.newslatter .col-md-6 input {
    padding-left: 1rem;
    padding-right: 1rem;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    left: 614px;
    width: 233px;
    height: 40px;
}

.newslatter .col-md-6 .btn {
    border-radius: 20px;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ff7b6d;
}

.newslatter-size {
    font-size: 2.5rem;
    text-align: center;
}

.footer_section {
    background-color: #111111;
}

.footer_main {
    height: 130px;
}

.footer_mid ul li {
    margin: 12px;
    list-style: none;
}

.footer_mid ul li a {
    color: #f1f1f1;
    font-size: 14px;
}

.footer_right i {
    margin: 0 10px;
    color: #ffffff;
}

.footer_end {
    background-color: #111111;
    height: fit-content;
}

.footer_end p {
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}

.footer_end p span a {
    color: #6eabef;
}

.footer_line {
    width: 75%;
    height: 1px;
    background-color: gray;
    display: inline-block;
}

@media (max-width: 1197px) {
    .main {
        background-color: gray;
    }
    .navbar_main {
        background-color: gray;
        display: flex;
    }
    #navbarText {
        background-color: gray;
        padding-bottom: 20px;
    }
    .navbar_book {
        background-color: transparent;
    }
    .navbar_book,
    .navbar_prices,
    .navbar_login,
    .navbar_helper {
        border: none;
    }
    .navbar .nav-link {
        padding: 0;
    }
    .navbar .nav-item {
        padding: 8px 5px;
        margin: 0;
    }
    .navbar_login,
    .navbar_helper {
        text-align: center;
        width: fit-content !important;
        align-items: center !important;
        margin-top: 7px !important;
    }
    .navbar_helper a,
    .navbar_login a {
        align-items: center !important;
        text-align: center;
        padding: 8px 12px 8px 20px !important;
    }
}

@media (max-width: 768px) {
    .footer_mid ul {
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main {
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
}

@media (max-width: 425px) {
    .footer_end {
        flex-direction: column;
        padding: 0 10px;
    }
}